body {
  background: papayawhip;
  margin: 0;
}


.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.a {
  margin: 5px;
  width: 100%;
  height: 160px;
  box-shadow: 3px 3px 3px gray;
}

.b, .c, .d, .e, .f, .g {
  margin: 5px;
  width: 30%;
  height: 160px;
  box-shadow: 3px 3px 3px gray;
}

.h {
  margin: 5px;
  width: 100%;
  height: 360px;
  box-shadow: 3px 3px 3px gray;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    justify-content: left;
  } 

  .a {
    margin: 5px;
    width: 100%;
    height: 300px;
    order: 0;
  }

  .b, .c, .d {
    margin: 5px;
    width: 21%;
    height: 280px;
    order: 1;
  }
  
  .e, .f, .g {
    margin: 5px;
    width: 21%;
    height: 280px;
    order: 3;
    transform: translate(0, -293px);
  }

  .h {
    margin: 5px;
    width: 28%;
    height: 580px;
    order: 2;
  }
}