body {
  background: papayawhip;
}

* {
  border: solid black 1px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 46px;
}

.a, .b, .c, .d, .e, .f {
  margin: 10px;
}

.a {
  min-height: 100px;
  flex: 1;
}

.b {
  min-height: 200px;
  flex-grow: 2;
}


.middle-rows {
  display: flex;
  flex-direction: row;
}

.c, .d, .e {
  flex-grow: 1;
  min-height: 100px;
}

.f {
  flex-grow: 1;
  min-height: 100px;
}

@media (min-width: 1000px) {
  .bcdef-wrapper {
    display: flex;
    flex-direction: row;
    
  }
  .bcde-wrapper {
    flex-grow: 3;
  }
  .f {
    flex-grow: 1;
  }
}

